body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-stretch: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(238, 238, 238, 1);
  width: 1280px;
}

.main-header {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 773px;
}

.inner-header {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 562px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: left -240px;
}

.header-nav {
  min-height: 56px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.visually-hidden {
  display: none;
}

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav>li {
  display: block;
}

.site-nav a {
  height: 56px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.site-nav div {
  width: 239px;
}

.img-logo {
  width: 142px;
  height: 71px;
  background-color: transparent;
}

.back-pic {
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: 717px;
  color: rgba(256, 256, 256, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}

.intro-center {
  display: block;
  padding: 0;
  margin: 0 auto;
  padding-top: 76px;
}

.dent-field {
  width: auto;
  height: 59px;
  padding: 0;
  margin: 0 auto;
  margin-top: -267px;
}

.note-box {
  height: 216px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(256, 256, 256, 1);
}

.announce-first {
  margin: 0 auto;
  padding: 0;
  padding-top: 61px;
  font-family: "PTSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(256, 256, 256, 1);
}

.announce-second {
  margin: 0 auto;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 56px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(256, 256, 256, 1);
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.choice-interest {
  margin: 0 auto;
  padding: 0;
  width: auto;
  color: rgba(256, 256, 256, 1);
}

.objects-for-interest {
  margin: 0 auto;
  padding: 0;
  margin-top: -289px;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(256, 256, 256, 1);
}

.small-text,
.menu-choice a {
  font-family: PTSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.hotels-list {
  margin: 0 auto;
  padding: 0;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(256, 256, 256, 1);
}

.hotel-stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 157px;
  border-bottom: 1px solid rgba(242, 242, 242, 1);
}

.hotels-list div:first-child {
  border-top: 1px solid rgba(242, 242, 242, 1);
}

.img-box {
  margin: 0;
  padding: 30px 0 30px 0;
  width: 135px;
  height: 97px;
}

.hotel-block {
  height: 97px;
  width: 270px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hotel-title {
  padding: 0;
  margin: 0;
  width: 270px;
}

.topic-style {
  font-family: "PTSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.topic-style-left {
  text-align: left;
}

.hotel-text {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  height: 11px;
  width: 115px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}

.hotel-price {
  margin-left: 6px;
  width: 147px;
}

.actions-box {
  display: block;
  margin: 0;
  margin-top: 19px;
  padding: 7px 0;
  width: 115px;
  text-align: center;
  background-color: rgba(136, 172, 192, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-decoration: none;
}

.book-box {
  margin-left: 6px;
  width: 147px;
  background-color: rgba(66, 47, 49, 1);
}

.book-box p {
  background-color: rgba(66, 47, 49, 1);
}

.ratings-block {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  width: 610px;
  height: 97px;
}

.stars-stripe {
  margin: 0;
  padding: 0;
  text-align: right;
}

.rating-box {
  margin: 0;
  margin-top: 53px;
  margin-left: 500px;
  padding: 5px 0 6px 0;
  width: 110px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(211, 199, 199, 1);
}

.interest {
  margin: 0 auto;
  margin-top: 57px;
  padding: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 1);
}

.interest-box {
  margin: 0 auto;
  padding: 0;
  height: 96px;
  width: 444px;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.interest-box b {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.interest-box span {
  display: block;
  margin: 0;
  margin-top: 20px;
  line-height: 20px;
}

.hotel-find {
  margin: 0 auto;
  margin-top: 52px;
  padding: 0;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.legend-title {
  margin: 0 auto;
  padding: 32px 0;
  width: 568px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(118, 99, 87, 1);
}

.choice-block {
  margin: 0;
  padding: 0;
  height: 473px;
  width: auto;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 0 0px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.choice-form {
  margin: 0 auto;
  padding: 0;
  width: 568px;
  height: 395px;
  background-color: rgba(255, 255, 255, 1);
}

.box-input {
  margin: 0 auto;
  padding: 55px;
  height: 173px;
  width: 452px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.box-input label {
  display: block;
  width: 95px;
  margin: 0;
  padding: 0;
}

.input-date-block {
  margin: 0;
  padding: 0;
  width: 346px;
  height: 44px;
  background-color: rgba(242, 242, 242, 1);
}

.input-date-block input[type="text"] {
  display: inline-block;
  margin: 0;
  padding: 14px 0 12px 0;
  width: 315px;
  border: none;
  outline: none;
  background-color: rgba(242, 242, 242, 1);
  font-size: 12px;
}

.input-date-block img {
  display: inline-block;
  margin: 0;
  margin-left: 1px;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(169, 169, 169, 1);
}

.adult-label {
  width: 95px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.child-label {
  width: 105px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.count-fields-input {
  margin: 0;
  width: 121px;
  padding: 0;
  border: none;
  background-color: rgba(242, 242, 242, 1);
}

.button {
  height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding-left: 17px;
  padding-right: 16px;
  vertical-align: middle;
  border: none;
  outline: none;
}

.button-sign {
  display: inline-block;
  margin: 0;
  height: 38px;
  width: 38px;
  border: none;
  outline: none;
  background-color: rgba(242, 242, 242, 1);
}

.adult-input,
.child-input {
  display: inline-block;
  margin: 0;
  padding: 14px 0 12px 0;
  width: 38px;
  text-align: center;
  border: none;
  background-color: rgba(242, 242, 242, 1);
}

.hotel-form-send {
  display: block;
  margin: 0 auto;
  padding: 17px 0 22px 0;
  width: 452px;
  color: rgb(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
}

.main-footer {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 1);
}

.visit-box {
  margin: 0;
  padding: 0;
}

.social-block {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.social-box {
  margin: 0;
  margin-left: 6px;
  padding: 0;
  height: 36px;
  width: 36px;
  background-color: rgba(129, 179, 210, 1);
  text-decoration: none;
  list-style: none;
}

.social-button {
  display: block;
  margin: 0;
  text-decoration: none;
}

.b-twitter {
  margin: 0;
  padding: 10px 10px 10px 10px;
}

.b-facebook {
  margin: 0;
  padding: 5px 8px 5px 12px;
}

.b-youtube {
  margin: 0;
  padding: 8px 8px 8px 8px;
}

.copyright-block {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.web-box {
  display: block;
  margin: 0;
  padding: 0;
}

.copyright-box {
  display: block;
  margin: 0;
  margin-left: 6px;
  padding: 0;
}

.copyright-box a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}