body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-stretch: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(238, 238, 238, 1);
  width: 1280px;
}

.main-header {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 773px;
}

.inner-header {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.header-nav {
  width: 100%;
  min-height: 56px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.visually-hidden {
  display: none;
}

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav>li {
  display: block;
}

.site-nav a {
  height: 56px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.site-nav div {
  width: 239px;
}

.img-logo {
  width: 142px;
  height: 71px;
  background-color: transparent;
}

.back-pic {
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: 717px;
  color: rgba(256, 256, 256, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}

.intro-center {
  display: block;
  padding: 0;
  margin: 0 auto;
  padding-top: 76px;
}

.dent-field {
  width: auto;
  height: 59px;
  padding: 0;
  margin: 0 auto;
  margin-top: -267px;
}

.note-box {
  height: 216px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(256, 256, 256, 1);
}

.announce-first {
  margin: 0 auto;
  padding: 0;
  padding-top: 61px;
  font-family: "PTSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(256, 256, 256, 1);
}

.announce-second {
  margin: 0 auto;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 56px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(256, 256, 256, 1);
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.advantages {
  margin: 0 auto;
  padding: 0;
  width: auto;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.advantages ul {
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: auto;
  text-decoration: none;
  list-style: none;
}

.advantages-box {
  margin: 0;
  padding: 0;
  height: 256px;
  width: 400px;
  background-color: rgba(129, 179, 210, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.adv-box-1 {
  margin: 0;
  padding: 46px 60px 0 60px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.adv-box-2,
.adv-box-3 {
  margin: 0;
  padding: 32px 60px 0 60px;
}

.advantages-box img {
  display: block;
}

.advantages-details {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 33%;
  height: 256px;
  text-align: center;
}

.icon-block {
  height: 330px;
}

.adv-icon {
  display: block;
  margin: 60px 162px 0 162px;
  padding: 0;
}

.adv-head {
  margin: 29px 160px 0 160px;
  padding: 0;
}

.adv-head-text {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.adv-comment {
  margin: 35px 68px 0 68px;
  padding: 0;
}

.adv-comment-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: rgba(33, 33, 33, 1);
}

.addition-adv {
  height: 256px;
  background-color: rgba(238, 238, 238, 1);
}

.environ-head {
  margin: 50px 120px 0 120px;
  padding: 0;
}

.environ-text {
  margin: 25px 92px 0 92px;
  padding: 0;
}

.objects-for-interest {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 270px;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(256, 256, 256, 1);
}

.choice-interest {
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: 270px;
  color: rgba(256, 256, 256, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: left -289px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
}

.infrastructure-block,
.dwelling-block,
.price-block {
  display: block;
  width: 200px;
  margin: 0;
  margin-left: 71px;
  padding: 0;
  text-align: left;
  border: none;
  outline: none;
}

.infrastructure-block>p,
.dwelling-block>p,
.price-block>p {
  display: block;
  margin: 0;
  margin-top: 31px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}

.infrastructure-list,
.dwelling-list {
  margin: 0;
  margin-top: 37px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.infrastructure-list li,
.dwelling-block li,
.price-range-box {
  display: block;
  margin: 0;
  margin-top: 22px;
  padding: 0;
  height: 30px;
}
.infrastructure-list input[type="checkbox"],
.dwelling-block input[type="checkbox"] {
  visibility: hidden;
}

.price-block {
  width: 700px;
}

.price-block>p,
.price-range-box,
.price-move,
.button-show-box {
  margin-left: 240px;
}

.price-range-box {
  margin-top: 23px;
  height: 32px;
  border: 2px solid rgba(256, 256, 256, 1);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.price-range-box,
.price-move,
.button-show-box {
  width: 314px;
}

.price-range-box-left,
.price-range-box-right {
  margin: 6px auto;
  padding: 0;
  height: 22px;
  width: 155px;
  text-align: center;
}

.price-range-box-left {
  border-right: 1px solid rgba(255, 255, 255, 1);
}

.price-move {
  display: block;
  margin-top: 16px;
  margin-bottom: 0;
  height: 22px;
}

.button-show-box {
  margin-top: 32px;
  height: 34px;
}

.button-show-box input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 133px;
  height: 32px;
  background-color: transparent;
  color: rgba(256, 256, 256, 1);
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-stretch: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  border: 2px solid rgba(256, 256, 256, 1);
  border-radius: 2px;
}


.hotels-list {
  margin: 0 auto;
  padding: 0;
  width: auto;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(256, 256, 256, 1);
  outline: 1px dashed darkslateblue;
}

.hotel-find {
  margin: 0 auto;
  padding: 0;
  width: auto;
}

.hotel-find-block {
  margin: 0;
  margin-left: 72px;
  width: auto;
  height: 86px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;
}

.topic-style {
  font-family: "PTSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.topic-style-left {
  text-align: left;
}

.small-text {
  font-family: PTSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.hotel-find-block h3 {
  margin: 0;
  padding: 0;
}

.hotel-find-block p,
.button-price-choice,
.button-type-choice,
.button-rating-choice {
  margin: 0;
  margin-left: 29px;
  padding: 0;
}

.button-price-choice input[type="submit"],
.button-type-choice input[type="submit"],
.button-rating-choice input[type="submit"] {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-stretch: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration: underline;
  border: none;
  outline: none;
}

.button-price-choice input[type="submit"]:hover,
.button-type-choice input[type="submit"]:hover,
.button-rating-choice input[type="submit"]:hover {
  background-color: transparent;
  color: rgba(129, 179, 210, 1);
  text-decoration: none;
}

.button-price-choice input[type="submit"]:focus,
.button-type-choice input[type="submit"]:focus,
.button-rating-choice input[type="submit"]:focus {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.choice-triang {
  margin: 0;
  margin-left: 450px;
  padding: 0;
  background-color: transparent;
}
.button-triang {
  background-color: transparent;
  border: none;
  outline: none;
}


.hotel-stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 157px;
  border-bottom: 1px solid rgba(242, 242, 242, 1);
}

.hotels-list div:first-child {
  border-top: 1px solid rgba(242, 242, 242, 1);
}

.img-box {
  margin: 0;
  padding: 30px 0 30px 0;
  width: 135px;
  height: 97px;
}

.hotel-block {
  height: 97px;
  width: 270px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hotel-title {
  padding: 0;
  margin: 0;
  width: 270px;
}

.hotel-text {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  height: 11px;
  width: 115px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}

.hotel-price {
  margin-left: 6px;
  width: 147px;
}

.actions-box {
  display: block;
  margin: 0;
  margin-top: 19px;
  padding: 7px 0;
  width: 115px;
  text-align: center;
  background-color: rgba(136, 172, 192, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-decoration: none;
}

.book-box {
  margin-left: 6px;
  width: 147px;
  background-color: rgba(66, 47, 49, 1);
}

.book-box p {
  background-color: rgba(66, 47, 49, 1);
}

.ratings-block {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  width: 610px;
  height: 97px;
}

.stars-stripe {
  margin: 0;
  padding: 0;
  text-align: right;
}

.rating-box {
  margin: 0;
  margin-top: 53px;
  margin-left: 500px;
  padding: 5px 0 6px 0;
  width: 110px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(211, 199, 199, 1);
}

.interest {
  margin: 0 auto;
  padding: 0;
  padding-top: 57px;
  width: auto;
  background-color: rgba(255, 255, 255, 1);
}

.interest-box {
  margin: 0 auto;
  padding: 0;
  height: 96px;
  width: 444px;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.interest-box b {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.interest-box span {
  display: block;
  margin: 0;
  margin-top: 20px;
  line-height: 20px;
}

.hotel-find-interest {
  margin: 0 auto;
  margin-top: 52px;
  padding: 0;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.legend-title {
  margin: 0 auto;
  padding: 32px 0;
  width: 568px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(118, 99, 87, 1);
}

.choice-block {
  margin: 0;
  padding: 0;
  height: 473px;
  width: auto;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 0 0px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.choice-form {
  margin: 0 auto;
  padding: 0;
  width: 568px;
  height: 395px;
  background-color: rgba(255, 255, 255, 1);
}

.box-input {
  margin: 0 auto;
  padding: 55px;
  height: 173px;
  width: 452px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.box-input label {
  display: block;
  width: 95px;
  margin: 0;
  padding: 0;
}

.input-date-block {
  margin: 0;
  padding: 0;
  width: 346px;
  height: 44px;
  background-color: rgba(242, 242, 242, 1);
}

.input-date-block input[type="text"] {
  display: inline-block;
  margin: 0;
  padding: 14px 0 12px 0;
  width: 315px;
  border: none;
  outline: none;
  background-color: rgba(242, 242, 242, 1);
  font-size: 12px;
}

.input-date-block img {
  display: inline-block;
  margin: 0;
  margin-left: 1px;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(169, 169, 169, 1);
}

.adult-label {
  width: 95px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.child-label {
  width: 105px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.count-fields-input {
  margin: 0;
  width: 121px;
  padding: 0;
  border: none;
  background-color: rgba(242, 242, 242, 1);
}

.button {
  height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding-left: 17px;
  padding-right: 16px;
  vertical-align: middle;
  border: none;
  outline: none;
}

.button-sign {
  display: inline-block;
  margin: 0;
  height: 38px;
  width: 38px;
  border: none;
  outline: none;
  background-color: rgba(242, 242, 242, 1);
}

.adult-input,
.child-input {
  display: inline-block;
  margin: 0;
  padding: 14px 0 12px 0;
  width: 38px;
  text-align: center;
  border: none;
  background-color: rgba(242, 242, 242, 1);
}

.hotel-form-send {
  display: block;
  margin: 0 auto;
  padding: 17px 0 22px 0;
  width: 452px;
  color: rgb(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
}

.main-footer {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 1);
}

.visit-box {
  margin: 0;
  padding: 0;
}

.social-block {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.social-box {
  margin: 0;
  margin-left: 6px;
  padding: 0;
  height: 36px;
  width: 36px;
  background-color: rgba(129, 179, 210, 1);
  text-decoration: none;
  list-style: none;
}

.social-button {
  display: block;
  margin: 0;
  text-decoration: none;
}

.b-twitter {
  margin: 0;
  padding: 10px 10px 10px 10px;
}

.b-facebook {
  margin: 0;
  padding: 5px 8px 5px 12px;
}

.b-youtube {
  margin: 0;
  padding: 8px 8px 8px 8px;
}

.copyright-block {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.web-box {
  display: block;
  margin: 0;
  padding: 0;
}

.copyright-box {
  display: block;
  margin: 0;
  margin-left: 6px;
  padding: 0;
}

.copyright-box a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}